			<div class="footer">
				<p>&copy; {current_time format="%Y"} Solspace, Inc.</p>
			</div>

		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="{exp:super_search:theme_folder_url}code_pack/js/bootstrap.min.js"></script>
		<script src="{exp:super_search:theme_folder_url}code_pack/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
		<script>
			$(document).ready(function(){
				$(".tips").tooltip({
					placement : 'top'
				});
				
				$('.input-daterange').datepicker({
					format: 'yyyymmdd',
					orientation: "bottom auto",
					autoclose: true,
					todayHighlight: true
				});
			});
		</script>
	</body>
</html>