		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{path='%prefix%main'}/">Super Search Demo</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li{if embed:page == "search"} class="active"{/if}><a href="{path='%prefix%main'}">Search Forms</a></li>
						<li{if embed:page == "cloud"} class="active"{/if}><a href="{path='%prefix%main/cloud'}">Popular Search Terms</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources <span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="https://solspace.com">Solspace.com</a></li>
								<li><a href="https://solspace.com/expressionengine/super-search/docs/">Documentation</a></li>
								<li><a href="https://solspace.com/expressionengine/support">Support</a></li>
							</ul>
						</li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>