{embed="%prefix%inc/index" page_title="Popular Search Terms"}
	</head>

	<body role="document">

{embed="%prefix%inc/header" page="cloud"}

		<div class="container">

			<div class="page-header">
				<h1>Popular Search Terms</h1>
				<p class="lead">Below are some lists of popular search terms:</p>
			</div>
	  
			<div class="row">
				<div class="col-sm-6">
					<h2>Cloud format</h2>
					<ul class="nav nav-pills">
					{exp:super_search:cloud
						start="15"
						groups="10"
						step="3"
						limit="25"
						orderby="term"
						sort="asc"
					}
						<li><a href="{path='%prefix%main/keyword_results/search&keywords={super_search_term}'}" style="font-size:{super_search_step}px;">{super_search_term} <span class="badge">{super_search_total_searches}</span></a></li>
						{if super_search_no_results}
							<li>Sorry, no results were found. To see any results, you must have performed keyword searches on your site, the <b>Log Site Searches?</b> option in the Super Search Preferences must be set to <b>Yes</b>, and the Super Search Lexicon must be run for the first time.</li>
						{/if}
					{/exp:super_search:cloud}
					</ul>
				</div>
					
				<div class="col-sm-6">
					<h2>List format</h2>
					<div class="list-group">
					{exp:super_search:cloud
						limit="15"
					}
						<a href="{path='%prefix%main/keyword_results/search&keywords={super_search_term}'}" class="list-group-item">{super_search_term} <span class="badge">{super_search_total_searches}</span></a>
						{if super_search_no_results}
							<p>Sorry, no results were found. To see any results, you must have performed keyword searches on your site, the <b>Log Site Searches?</b> option in the Super Search Preferences must be set to <b>Yes</b>, and the Super Search Lexicon must be run for the first time.</p>
						{/if}
					{/exp:super_search:cloud}
					</div>
				</div>
      		</div>
	  
			<div class="well ss-pageinfo">
				<h2>About This Page</h2>
				<p>This page makes use of the following tags:</p>
				<ul>
					<li><a href="https://solspace.com/expressionengine/super-search/docs/cloud/">Super_Search:Cloud</a> to display most popular terms searched upon on your site.</li>
				</ul>
			</div>

{embed="%prefix%inc/footer"}