.progress-bar {
	width: 				80%;
	float:				left;
}

#update_percent {
	float:				left;
	font-weight:		bold;
	font-size:			110%;
	margin:				0 10px;
}

#progress_inidicator {
	border:				none;
	margin-bottom:		-3px;
}

#number_updated {
	margin-top:			10px;
}

#tag_field_sync,
#pause_tag_counts,
#resume_tag_counts {
	cursor:				pointer;
}

#progress,
#finished_message,
#pause_tag_counts,
#resume_tag_counts {
	display:			none;
}